body {

background-color:white;
font-family:georgia,sans-serif;
color:#333;
margin:0;
padding:0;

}

#wrapper {

width:1080px;
margin:0 auto;
border-left:1px solid black;
border-right:1px solid black;
background-color:#EAEAC8;

}

#landing-outer-wrapper {

width:1080px;
margin:0 auto;
border-left:1px solid black;
border-right:1px solid black;
background-color:white;

}

#header {

width:1080px;
height:135px;
margin:0 auto;
margin-bottom:1px;
border-bottom:2px solid black;
border-top:2px solid black;
font-family:'Play', sans-serif;
font-size:150%;
background-color:#39F;

}

#header h2 {

padding:10px;

}

#nav {

width:1080px;
height:40px;
border-bottom:1px solid #ccc;
background-color:#000000;
font-family:'Play', sans-serif;
color:#FFFFFF;

}

#nav p {

display:inline;

}

#nav ul {

padding:8px 0px;
margin:0px;
display:inline;

}

#nav li {

display:inline;
float:right;

}

#nav a {

text-decoration:none;
color:white;
padding:8px 8px;

}

#nav a:hover {

color:#9900CC;

}

#content {

position:relative;
width:655px;
height:410px;
float:left;
padding:60px;
background-color:#EAEAC8;

}

#content h2 {

position:relative;
top:-60px;
right:50px;
padding:2px;
font-family:‘Arial Black’, Gadget, sans-serif;
font-size:100%;

}

#content p {

font-family:‘Arial Black’, Gadget, sans-serif;
font-size:75%;

}

#box fieldset {

position:absolute;
top:0px;
left:0px;
margin-bottom:25px;
font-family:'Play', sans-serif;
width:40px;
background-color:#39F;
color:#ffffff;
border-radius:7px;
border:1px solid #F3C;

}

#pingboxtest {

border-radius:7px;
padding:0.25cm;
background-color:black;
border: 2px solid yellow;

}

#pingboxtest input[type=submit] {

color: #39F;
font-family: "Play",sans-serif;

}

#pingboxmonitor {

border-radius:7px;
padding:0.25cm;
background-color:black;
color:#FF33CC;
border:2px solid yellow;

}

#pingboxmonitor input[type=submit] {

color: #39F;
font-family: "Play",sans-serif;

}

#hostlist {

padding:0.25cm;

}

#hostlist p {

padding:5px;

}

#login-failed {

position:absolute;
left:50px;
bottom:75px;
padding:10px;
color:red;

}

#login input[type=submit] {

color: #39F;
font-family: "Play",sans-serif;

}

#sidebar {

position:relative;
width:280px;
height:500px; 
float:right;
font-family:‘Arial Black’, Gadget, sans-serif;
font-style:italic;
font-size:75%;
border-left:white;
background-color:#EAEAC8;

}

#sidebar fieldset {

background-color:#39F;
border-radius:7px;
border:1px solid #F3C;

}

#sidebar a {

text-decoration:none;

}

#sidebar li {

list-style:none;

}

#hostbx-primary {

width:260px;
height:200px;
border-radius:7px;
padding:0.25cm;
background-color:#EAEAC8;

}

#hostbx-secondary {

height:180px;
border-radius:7px;
padding:0.25cm;
width: 90%;
margin: 0 auto;
border:3px solid #F3C;
background-color:black;
font-family:"Play",sans-serif;
color:white;

}

#disabled h3 {

position:absolute;
border:1px solid #f8f8f8;
background-color:lightblue;
width:1078px;
top:670px;
font-family:'Raleway', sans-serif;
text-align:center;

}

#successmessage {

border:1px solid blue;
border-radius:7px;
width:480px;
height:auto;
padding:10px;
font-family:'Exo', sans-serif;
background-color:#99FF99;

}

#successmessage input[type=submit] {

padding:5px;
font-family:"Play",sans-serif;
color:#39F;

}

#successmessage h1 {

font-family:"Play",sans-serif;

}

#successmessage img {

position:relative;
top:-145px;
left:440px;

}

#subsuccessmessage {

position:absolute;
width:400px;
height:110px;
bottom:50%;
border:2px solid #39F;
border-radius:25px;
font-family:'Exo', sans-serif;
padding:10px;
background-color:yellow;

}

#subsuccessmessage p {

font-size:14px;
font-weight:bold;
font-family:"Play",sans-serif;

}

#slideshow {

position:relative;
width:200px;
height:75px;
padding:0px;

}

#slideshow > div {

position: absolute;
top: 10px;
left: 10px;
right: 10px;
bottom: 10px;
color:black;

}

#checkbox {

position:relative;
border-radius:7px;
width:300px;
background-color:#FFF;
overflow:auto;
top:15%;
font-size:80%;
border:2px solid #39F;
margin:10px;
font-family:'Play', sans-serif;
padding:10px;
background-color:#000;
color:white;

}

#checkbox input[type=submit] {

color:#39F;
font-family:'Play', sans-serif;

}

#checkbox h3 {

color:yellow;

}

#add-container {

position:relative;
border-radius:7px;
width:300px;
background-color:#FFF;
top:20%;
overflow:auto;
border:2px solid #39F;
font-family:'Play', sans-serif;
padding:10px;
font-size:80%;
margin:10px;
background-color:#000;
color:yellow;

}

#add-container input[type=submit] {

color:#39F;
font-family:'Play', sans-serif;

}

#accountstate {

position:relative;
border-radius:7px;
width:300px;
background-color:#FFF;
top:17%;
left:68%;
border:2px solid #39F;
padding:5px;
font-family:'Play', sans-serif;
font-size:75%;
background-color:#000;
color:yellow;

}

#accountstate input {

color:red;
font-family:'Play', sans-serif;
width:90px;
height:30px;
font-size:110%;
color:#39F;

}

#accountstate h3 {

color:yellow;

}

#accountstate h4 {

color:#F3C;

}

#accountstate p {

font-style:italic;
font-family:Arial, Helvetica, sans-serif;
color:white;

}

#activeacct {

border:1px solid blue;
border-radius:7px;
width:480px;
height:auto;
padding:10px;
font-family:'Exo', sans-serif;
background-color:#99FF99;

}

#activeacct input[type=submit] {

padding:5px;
font-family:"Play",sans-serif;
color:#39F;

}

#activeacct h2 {

position:relative;

}

#frntpgrid {

position:absolute;
left:39%;
top:5%;
font-family:'Play', sans-serif;

}

#frntpgrid td {

text-align: left;
vertical-align: top;
border: 1px solid #000;
border-collapse: collapse;
border-color:transparent;

}

#frntpgrid table {

table-layout:fixed;
border: 1px solid #000;
font-size:14px;

}

#footer {

clear:both;
width:1080px;
height:135px;
border-top:2px solid black;
border-bottom:2px solid black;
background-color:#39F;

}

#footer p {

padding:10px;
font-family:'Play', sans-serif;

}
