#takeoff {

width:380px;
background-color:#f8f8f8;
position: relative;
right: -300px;
bottom: 200px;
border-top: 2px solid black;
border-bottom: 2px solid black;
border-left: 2px solid black;
border-right: 2px solid black;
border-style: groove;
margin-left: auto;
margin-right: auto;
display:inline-block;

}

#ping {

width:380px;
background-color:#f8f8f8;
position: relative;
right: -300px;
bottom: 200px;
border-top: 5px solid black;
border-bottom: 5px solid black;
border-left: 5px solid black;
border-right: 5px solid black;
border-style: groove; 
margin-left: auto;
margin-right: auto;
display:inline-block;

}

#takeoff p {

margin-left: auto;
margin-right: auto;
padding-left: 0.05cm;

}

#timemsg h3 {

position: relative;
bottom: 10px;
font-family: "Arial Black", Gadget, sans-serif;
font-style: italic;
font-size: 80%;
padding-left: 0.05cm;

}

#stats h1 {

font-size: 80%;
font-family: ‘Arial Black’, Gadget, sans-serif;
padding-left: 0.05cm;

}

#explain p {

position: relative;
bottom: -5px;
font-size: 50%;
padding-left: 0.05cm;

}

#tips h3 {

position: relative;
bottom: 2px;
font-size: 80%;
font-style: italic;
color: #FF6633;
padding-left: 0.05cm;

}

#stats p {

color: #b0c4de;
font-weight: bold;

}

#pingstat h3 {

font-size: 75%;
font-family: "Courier New", Courier, monospace;
padding-left: 0.05cm;

}
