#takeoff {

width:375px;
background-color:#f8f8f8;
position: relative;
right: -300px;
bottom: 200px;
border-top: 2px solid black;
border-bottom: 2px solid black;
border-left: 2px solid black;
border-right: 2px solid black;
margin-left: auto;
margin-right: auto;
display:inline-block;

}

#takeoff p {

margin-left: auto;
margin-right: auto;

}

#timemsg h3 {

position: relative;
bottom: 10px;
font-family: "Arial Black", Gadget, sans-serif;
font-style: italic;
font-size: 80%;
padding-left: 0.05cm;

}

#stats h1 {

font-size: 80%;
font-family: ‘Arial Black’, Gadget, sans-serif;

}

#explain p {

position: relative;
bottom: -5px;
font-size: 50%;
padding-left: 0.05cm;

}

#tips h3 {

position: relative;
bottom: 2px;
font-size: 80%;
font-style: italic;
color: #FF6633;
padding-left: 0.05cm;

}
